.m-button {
  .content {
    padding: 0;
  }
}

.layout {
  .content {
    margin: 0;
  }
}

.player {
  .btn {
    padding: 0;
    box-sizing: border-box;
  }
  .slider-container {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    .slider {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }

  .control {
    box-sizing: border-box;
  }
}
.player-page {
  .player {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  height: 600px;
}

